input {
  width: 427px;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  outline: none;

  color: var(--greyscale-900, #1a202c);

  /* body/large/regular */
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 550;
  line-height: 150%; /* 24px */
  letter-spacing: 0.2px;
}
::placeholder {
  color: #a0aec0;
}
