@import "../../styles/variable";
input {
  caret-color: $primary-base;
  width: 427px;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid $border-color;
  outline: none;

  color: $greyscale-900;

  /* body/large/regular */
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 550;
  line-height: 150%; /* 24px */
  letter-spacing: 0.2px;
}
::placeholder {
  color: $paceholder;
}
