// declare variable here

$primary-base: #194bfb;
$secondary-base: #1a202c;
$primary-color: #282c34;
$black: #000;
$background: #f6fdf9;
$background-color: #2989ff;
$white: #fff;
$border-color: #e2e8f0;
$paceholder: #a0aec0;
$subHeading-text: #718096;
$alerts-warning-base: #facc15;
$greyscale-50: #fafafa;
$greyscale-200: #edf2f7;
$greyscale-300: #e2e8f0;
$greyscale-900: #1a202c;
$greyscale-600: #718096;
