// .logo {
//   margin: 48px 0px 0px 48px;
// }
.sidebar-img {
  display: flex;
  width: 132px;
  height: 28px;
  justify-content: center;
  align-items: flex-end;
  gap: 5.708px;
  flex-shrink: 0;
}
